* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    background: #23252C;
    height: 868px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 317px;
    /* height: 716px; */
    background: #1A1B21;
    border-radius: 10px;
}
.info {
    margin-top: 0;
}
.profile-photo {
    width: 100%;
    height: 317px;
    border-radius: 10px 10px 0 0;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile .profile-name {
    font-size: 25px;
    font-weight: 700;
    color: #FFF;
    margin-top: 21px;
}
.profile .profile-title {
    font-size: 13px;
    font-weight: 400;
    color: #F3BF99;
    margin-top: 6px;
    margin-bottom: 8px;
}
.profile .profile-site {
    color: #F5F5F5;
    font-size: 10.24px;
    font-weight: 400;
    margin-bottom: 8px;
}
.profile .email {
    background: #FFFFFF;
    width: 247px;
    height: 34px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}
.profile .email a {
    text-decoration: none;
    color: #374151;
    font-weight: 500;
    font-size: 14px;
    vertical-align: middle;
}
main {
    padding: 0 35px 35px 35px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}
main .section .heading {
    color: #F5F5F5;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 6px;
}
main .section .text {
    color: #DCDCDC;
    font-size: 10.24px;
}
footer {
    background-color: #161619;
    padding: 19.5px 48.5px;
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
}
